.form-control{
  color: white;
  background: transparent;
  font-weight: 570;
}
label{
  color: rgb(197, 21, 21);
  font-weight: 600;
}
hr{
  width: 50%;
  height: 2px;
  background-color: rgb(187, 16, 230);
}
.heading{
  color: rgb(73, 206, 21);
  text-align: center;
  padding-top: 2%;
}
