h1{
  font-family: 'Serif', cursive;
  color: rgb(146, 8, 8);
  text-align: center;
  font-weight: bolder;
  padding-bottom: 2%;
  padding-top: 2%;
}
h4{
  font-family: 'lucida console', cursive;
}
span{
  font-family: 'Lucida Console', cursive;
}
.overlay{
  background-color:rgba(194, 153, 18, 0.301);
  border-radius: 5px;
  margin-top:4%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 5%;
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 5%;
}
#name{
  color:rgb(0, 21, 214);
  font-weight: 700;
}
.all-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#quotes-button{
  float: right;
}
.card{
  margin-bottom: 2%;
  background-color: rgb(18, 139, 245);
  box-shadow: 2px 2px 3px 2px rgb(0, 0, 0);
}
#date{
  float: right;
  font-size: 14px;
}
#datecolor{
  color: rgb(80, 7, 68);
  font-weight: 700;
}
.card-text{
  font-family: 'lucida console', cursive;
  font-weight: 570;
  font-size: 18px;
}